<div ng-controller="NodespanelController as nodespanel" class="full-height side-panel">
    <div class="node-list">
        <accordion close-others="oneAtATime">
            <accordion-group is-open="nodespanel.panel_trees_open">
                <accordion-heading>
                    <span translate>Trees</span>
                    <i class="pull-right fa fw" ng-class="{'fa-chevron-down': nodespanel.panel_trees_open, 'fa-chevron-right': !nodespanel.panel_trees_open}"></i>
                </accordion-heading>          
                <div class="node-list-content">
                    <div class="node-list-category">
                        <!-- <div ng-click="" class="node-list-title">trees</div> -->
                        <ul>
                            <li ng-repeat="tree in nodespanel.trees">
                                <a class="remove btn btn-link btn-xs" 
                                   style="display:none"
                                   onmouseover="this.style.display = 'inline-block';"
                                   onmouseout="this.style.display = 'none'"
                                   ng-click="nodespanel.remove(tree.id)" translate>Remove</a>

                                <a onmouseover="this.parentElement.firstElementChild.style.display = 'inline-block';"
                                   onmouseout="this.parentElement.firstElementChild.style.display = 'none';"
                                   data-name="{{tree.id}}"
                                   ng-class="{active:tree.active}" 
                                   ng-click="nodespanel.select(tree.id)"
                                   b3-drag-node>
                                    {{tree.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>          
            </accordion-group>      

            <accordion-group is-open="nodespanel.panel_nodes_open">
                <accordion-heading>
                    <span translate>Nodes</span>
                    <i class="pull-right fa fw" ng-class="{'fa-chevron-down': nodespanel.panel_nodes_open, 'fa-chevron-right': !nodespanel.panel_nodes_open}"></i>
                </accordion-heading>
                <div class="node-list-content">
                    <div ng-repeat="(category, nodes) in nodespanel.nodes" class="node-list-category">
                        <div ng-click="" class="node-list-title" >{{category + 's'|translate}}</div>
                        <ul>
                            <li ng-repeat="node in nodes">
                                <a class="edit btn btn-link btn-xs" 
                                   style="display:none"
                                   onmouseover="this.style.display = 'inline-block';"
                                   onmouseout="this.style.display = 'none'"
                                   ng-hide="{{node.isDefault}}"
                                   ui-sref="editor.editnode({name:node.name})" translate>Edit</a>

                                <a class="no-select"
                                   data-name="{{node.name}}"
                                   onmouseover="this.parentElement.firstElementChild.style.display = 'inline-block';"
                                   onmouseout="this.parentElement.firstElementChild.style.display = 'none';"
                                   b3-drag-node>

                                    {{node.name|translate}}
                                </a>
                            </li>
                        </ul>
                        <ul class="empty" ng-hide="nodes.length">
                            <li translate>empty</li>
                        </ul>
                    </div>

                </div>
            </accordion-group>              
        </accordion>
    </div>
</div>