<div ng-controller="PropertiespanelController as propertiespanel" class="full-height side-panel">

  <div class="title" translate>Properties</div>

  <div ng-hide="propertiespanel.block" class="properties">
    <p class="text-center" translate>Select a single block to change its properties.</p>
    <p class="text-center"><em translate>NOTE: The root node represents a tree. Therefore, changes applied to this node will persist on the tree object.</em></p>
  </div>
  
  <div ng-show="propertiespanel.block" class="properties">
    <form>
      <div class="form-group">
        <label for="title" translate>Title</label>
        <input type="text" 
               class="form-control"
               name="title"
               placeholder="{{'Title'|translate}}"
               ng-keydown="propertiespanel.keydown($event)"
               ng-model="propertiespanel.block.title"
               ng-change="propertiespanel.update()">
      </div>

      <div class="form-group">
        <label for="description" translate>Description</label>
        <textarea name="description"
                  rows="4"
                  class="form-control"
                  placeholder="{{'Description'|translate}}"
                  ng-keydown="propertiespanel.keydown($event)"
                  ng-model="propertiespanel.block.description"
                  ng-change="propertiespanel.update()">

        </textarea>
      </div>

      <div class="form-group">
        <b3-key-table heading="{{'Properties'|translate}}"
                      ng-model="propertiespanel.block.properties"
                      ng-change="propertiespanel.update()"
                      class="no-border">
        </b3-key-table>
      </div>
    </form>
  </div>
  
</div>