<div class="page">
  <h1 class="header" translate>Projects</h1>

  <nav class="page-operations">
    <div class="page-operations-content">
      <ul>
          <li ng-show="projects.isDesktop"><button class="btn-default" ng-click="projects.openProject()"><i class="fa fa-folder-open-o"></i> <span translate>Open Project</span></button></li>
        <li><button class="btn-success" ng-click="projects.newProject()"><i class="fa fa-plus"></i> <span translate>New Project</span></button></li>
      </ul>
    </div>
  </nav>

  <div class="content">

    <!-- IF NO PROJECTS -->
    <div ng-hide="projects.recentProjects.length">
      <p translate>You do not have any project yet.</p>
    </div>
    
    <!-- IF PROJECTS -->
    <table class="table table-striped">
      <tr ng-repeat="item in projects.recentProjects track by $index" class="{'info':item.isOpen}">
        <td ng-show="item.isOpen" class="info">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-info" ui-sref="editor"><i class="fa fa-arrow-circle-o-left"></i> <span translate>Editor</span></button>
            <button type="button" class="btn btn-success" ng-click="projects.saveProject()"><i class="fa fa-save"></i> <span translate>Save</span></button>
            <button type="button" class="btn btn-default" ng-click="projects.editProject()"><i class="fa fa-pencil"></i> <span translate>Rename</span></button>
            <button type="button" class="btn btn-default" ng-click="projects.closeProject()"><i class="fa fa-close"></i> <span translate>Close</span></button>
          </div>
          
          <small><em translate>Current project</em></small>
          <h3 class="current-project">{{item.name}}</h3>
        </td>
        <td ng-hide="item.isOpen">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-info btn-sm" ng-click="projects.openProject(item.path)"><i class="fa fa-folder-open-o"></i> <span translate>Open</span></button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="projects.removeProject(item.path)"><i class="fa fa-trash-o"></i> <span translate>Remove</span></button>
          </div>
          <p>{{item.name}}</p>
        </td>
      </tr>
    </table>

  </div>
</div>
